.product
{
	width:100%;
	height:37%;
	margin-top:15px;
	//background:blue;
}
.nextRow
{
	width:100%;
	height:36%;
	margin-top:15px;
}
.headings
{
	width:95%;
	height:15%;
	margin:0 auto;
	//background:red;
}
.headings span
{
	display:inline-block;
	margin-left:15px;
	position:relative;
	//top:-30px;
	//bottom:5px;
}
.headings h3
{
	display:inline-block;
	margin-left:15px;
	font-weight:bold;
	font-family:arial;
	font-size:30px;
	position:relative;
	//top:-30px;
	//bottom:5px;
}
.bookPics
{
	width:95%;
	height:85%;
	//margin:-50px auto;
	overflow:hidden;
}
.bookPics .one
{
	height:100%;
	width:23%;
	position:relative;
	overflow:hidden;
	bottom:10px;
	float:left;
	top:10%;
}
.bookPics .one img
{
	height:100%;
	width:100%;
}
/*second*/
.bookPics .two
{
	height:100%;
	width:23%;
	margin-left:2%;
	position:relative;
	overflow:hidden;
	bottom:10px;
	float:left;
	top:12%;
}
.bookPics .two img
{
	height:100%;
	width:100%;
}
/*third*/
.bookPics .three
{
	height:100%;
	width:23%;
	margin-left:2%;
	position:relative;
	overflow:hidden;
	bottom:10px;
	float:left;
	top:12%;
}
.bookPics .three img
{
	height:100%;
	width:100%;
}
/*fourth*/
.bookPics .four
{
	height:100%;
	width:23%;
	margin-left:2%;
	position:relative;
	overflow:hidden;
	bottom:10px;
	float:left;
	top:10%;
}
.bookPics .four img
{
	height:100%;
	width:100%;
}

.overlay
{
	left:0;
	left:0;
	top:0;
	bottom:0;
	overflow:hidden;
	position:absolute;
	width:100%;
	height:100%;
}
.overlay .overlay_wrapper
{
height:100%;
width:100%;
left:0;
right:0;
bottom:100%;
text-align:center;
overflow:hidden;
transition:all 1s ease;
opacity:0;	
}
.overlay_wrapper a
{
	text-decoration:none;
}
 #heart
{
	background:white;
	border-radius:100px;
	font-size:30px;
	padding:8px 10px;
	display:inline-block;
	position:relative;
	top:25px;
	color:#bb2d69;
	margin-left:10px;
	right:12px;
}
#search
{
	background:white;
	border-radius:100px;
	font-size:30px;
	padding:8px 10px;
	display:inline-block;
	position:relative;
	top:25px;
	color:#bb2d69;
	left:10px;
}
.overlay_wrapper h4
{
	display:block;
	position:relative;
	top:35px;
	right:5px;
	color:yellow;
}
#icon{
	position:relative;
	top:30px;
	color:black;
	background:white;
	padding: 5px 25px;
}
#addToCart{
	display:block;
	//position:relative;
	top:30px;
	//right:5px;
	color: black;
	background:white;
	margin-left:10px;
}
.overlay:hover .overlay_wrapper
{
	opacity:1;
	height:100%;
	bottom:0;
}